:root {
    --font-family-base: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--font-family-base);
    font-size: .875rem !important;
}

.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background: white;
    z-index: 1000;
}

.sidebar-wrapper.collapsed {
    width: 60px;
}

.content-wrapper {
    margin-left: 240px;
    width: calc(100% - 240px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition:
        margin-left 0.3s ease,
        width 0.3s ease;
}

.content-wrapper.collapsed {
    margin-left: 60px;
    width: calc(100% - 60px);
}

.vertical-menu-separator {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 1px;
    background-color: #ccc;
    z-index: 1000;
    transition: left 0.3s ease;
}

.horizontal-separator-fixed {
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d0d4d9;
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.7);
}

.css-theme-light {
    --color-bg-sidebar-content: #ffffff;
    --color-sidebar-li: rgba(0, 0, 0, 0.85);
    --color-sidebar-li-collapsed: #212529;
    --color-sidebar-li-collapsed-hover: #212529;
    --color-sidebar-li-collapsed-active: #212529;
    --color-bg-sidebar-li-collapsed-active: #d2f4ea;
    --color-sidebar-dropdown: #212529;
    --color-bg-body-content: #f5f5f5;
    --color-body-content: #212529;
    --color-card-content: #ffffff;
    --color-card-title: #212529;
    --color-card-text: #212529;
    --color-bg-btn-primary: #0d6efd;
    --color-btn-primary: #ffffff;
    --color-bg-btn-danger: #dc3545;
    --color-bg-btn-success: #0eaa42;
    --color-bg-btn-secondary: #b7b7b7;
    --color-bg-form-control: #ffffff;
    --color-multiselect-option: #000000;
    --color-border-form-control: #d3d3d3;
    --color-multiselect-tag: #10b981;
    --color-h5-custom-modal: #0073e6;
    --color-span-muted: #5e5873;
    --color-bg-btn-cancel: #f0f7ff;
    --color-btn-cancel: #0073e6;
    --color-bg-table-tr-first: #f3f3f3;
    --color-fa-list-doc: #0d6efd;
    --color-bg-page-link: #f5f5f5;
    --color-bg-page-link-active: #0d6efd;
    --color-bg-icon-active: #0d6efd;
    --color-page-link: #0d6efd;
    --color-page-link-active: #ffffff;
    --color-page-link-disabled: #6c757d;
    --color-border-page-link: 1px solid #dee2e6;
    --color-border-btn-outline-primary: #0d6efd;
    --color-btn-outline-primary: #0d6efd;
    --filter-btn-close: initial;
    --color-bg-toast-content: #ffffff;
    --color-bg-toast-content-primary: #cfe2ff;
    --color-bg-toast-content-upload: #e3ebf6;
    --color-bg-toast-content-success: #d1e7dd;
    --color-bg-toast-content-warning: #fff3cd;
    --color-bg-toast-content-danger: #f8d7da;
    --color-bg-toast: rgba(255, 255, 255, 0.85);
    --color-toast-content: #6c757d;
    --color-toast-content-primary: #084298;
    --color-toast-content-success: #0f5132;
    --color-toast-content-warning: #664d03;
    --color-toast-content-danger: #842029;
    --color-border-toast: 1px solid rgba(0, 0, 0, 0.05);
    --color-border-header-modal: 1px solid #dee2e6;
    --box-shadow-multiselect-wrapper: 0 0 0 var(--ms-ring-width, 3px) var(--ms-ring-color, rgba(16, 185, 129, 0.188));
    --color-bg-dropdown-menu: #ffffff;
    --color-dropdown-menu: #212529;
    --color-fade-buttons: #d2f4ea;
    --color-table-striped: #ffff;
    --color-table-accent: #f3f4f6;
    --color-bg-form-outline: #0d6efd;
    --color-bg-table-outline: #e7e8e9;
    --image-chevron: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%237e7e7e%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e");
    --color-bg-nav-button: #f0f6ff;
    --color-icon-nav-button: #0d6efd;
    --color-bg-nav-pills: #ffffff;
    --muted: #f5f7fa;
    --icon-theme: "\f186";
    --text-sm: 0.775rem;
    --text-sm--line-height: calc(1.25 / 0.875);
    --skeleton-base: #e0e0e0;
    --skeleton-highlight: #f5f5f5;
    --btn-primary-dark-bg: #123263;
}

html {
    height: -webkit-fill-available;
}

body {
    background-color: var(--color-bg-body-content) !important;
    color: var(--color-body-content) !important;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body .overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

body .overlay.active {
    display: block;
    z-index: 1060;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #f8f9fb !important;
}

main > .initial-sidebar,
main > #offcanvas-sidebar {
    background: var(--color-bg-sidebar-content) !important;
}

main > .initial-sidebar > ul > li > a,
main > #offcanvas-sidebar > ul > li > a {
    color: var(--color-sidebar-li) !important;
}

main > .initial-sidebar > ul > li > a:hover,
main > #offcanvas-sidebar > ul > li > a:hover {
    background-color: var(--color-bg-sidebar-li-collapsed-active) !important;
}

main > .initial-sidebar > ul > li > .collapsed > ul > li > a,
main > #offcanvas-sidebar > ul > li > .collapsed > ul > li > a {
    color: var(--color-sidebar-li-collapsed) !important;
}

main > .initial-sidebar > ul > li > .collapsed > ul > li > a:hover,
main > #offcanvas-sidebar > ul > li > .collapsed > ul > li > a:hover {
    color: var(--color-sidebar-li-collapsed-hover) !important;
    background-color: var(--color-bg-sidebar-li-collapsed-active) !important;
}

main > .initial-sidebar > ul > li > .collapsed > ul > li > .active,
main > #offcanvas-sidebar > ul > li > .collapsed > ul > li > .active {
    color: var(--color-sidebar-li-collapsed-active) !important;
    background-color: var(--color-bg-sidebar-li-collapsed-active) !important;
}

main > .initial-sidebar > hr,
main > #offcanvas-sidebar > hr {
    background-color: var(--color-bg-sidebar-hr) !important;
}

main > .initial-sidebar > .dropdown > a,
main > #offcanvas-sidebar > .dropdown > a {
    color: var(--color-sidebar-dropdown) !important;
}

.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.input-group-text) {
    background: var(--color-bg-form-control) !important;
    color: var(--color-body-content) !important;
}

.dropdown-menu-sidebar {
    background-color: var(--color-bg-dropdown-menu) !important;
}

.dropdown-menu-sidebar > .remove-hover > .dropdown-item {
    background-color: var(--color-bg-dropdown-menu) !important;
    color: var(--color-dropdown-menu) !important;
}

.btn.btn-light.lang-link {
    color: var(--color-dropdown-menu) !important;
}

.btn-light {
    background-color: var(--color-bg-dropdown-menu) !important;
    color: var(--color-dropdown-menu) !important;
    border-color: var(--color-bg-dropdown-menu) !important;
}

main > .container-fluid {
    /*padding: 15px 10px 15px 0px;*/
    padding: 15px 15px 0px 0px;
    background: #f8f9fb !important;
}

main > .container-fluid > .custom-padding > .row > .col-auto > .card {
    background: var(--color-card-content) !important;
}

main > .container-fluid > .custom-padding > .row > .col-auto > .card > .card-body > .card-title {
    color: var(--color-card-title) !important;
}

main > .container-fluid > .custom-padding > .row > .col-auto > .card > .card-body > .card-text {
    color: var(--color-card-text) !important;
}

main > .container-fluid > .custom-padding > .row > .col-auto > nav > ul > .active > .page-link {
    background-color: var(--color-bg-page-link-active) !important;
    border-color: var(--color-bg-page-link-active) !important;
    color: var(--color-page-link-active) !important;
    border-radius: 9px !important;
}

main > .container-fluid > .custom-padding > .row > .col-auto > nav > ul > li > .page-link {
    background-color: var(--color-bg-page-link) !important;
    border: var(--color-bg-page-link) !important;
    color: var(--color-page-link) !important;
}

main > .container-fluid > .custom-padding > .row > .col-auto > nav > ul > .disabled > .page-link {
    color: var(--color-page-link-disabled) !important;
}

main > .container-fluid > .custom-padding > .row > .table-responsive > table > tbody {
    background-color: var(--color-bg-table-tr-first) !important;
    border-color: var(--color-bg-table-tr-first) !important;
}

main > .container-fluid > .custom-padding > .row > .table-responsive > table > tbody {
    background-color: var(--color-table-striped) !important;
}

main > .container-fluid > .custom-padding > .row > .table-responsive > table > tbody {
    background-color: var(--color-table-striped) !important;
    border-color: var(--color-table-striped) !important;
}

.table-striped {
    border-color: var(--color-bg-table-tr-first) !important;
    border-radius: 9px !important;
    overflow: hidden;
    color: var(--color-body-content) !important;
}

.table-striped > tbody > tr:nth-of-type(odd):not(:first-child) {
    --bs-table-accent-bg: var(--color-table-accent) !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    color: var(--color-body-content) !important;
}

.table-striped > trhead {
    background-color: var(--color-bg-table-tr-first) !important;
    border-color: var(--color-bg-table-tr-first) !important;
}

.form-control {
    background-color: var(--color-bg-form-control) !important;
    border-color: var(--color-border-form-control) !important;
    color: var(--color-body-content) !important;
}

.custom-textarea {
    border-color: var(--color-bg-form-outline) !important;
}

.form-select {
    background-color: var(--color-bg-form-control) !important;
    color: var(--color-body-content) !important;
    border-color: var(--color-border-form-control) !important;
    background-image: var(--image-chevron) !important;
}

.multiselect,
.multiselect-tags-search,
.multiselect-options,
.multiselect-no-results {
    background-color: var(--color-bg-form-control) !important;
    border-color: var(--color-border-form-control) !important;
    color: var(--color-body-content) !important;
}

.multiselect-tags {
    max-height: 224px !important;
    overflow: auto !important;
}

.multiselect-tag {
    background: var(--color-multiselect-tag) !important;
}

.multiselect-clear {
    display: none !important;
}

.multiselect.is-active {
    box-shadow: var(--box-shadow-multiselect-wrapper) !important;
}

.multiselect-dropdown {
    border-color: var(--color-bg-form-control) !important;
}

.btn-primary {
    background-color: var(--color-bg-btn-primary) !important;
    border-color: var(--color-bg-btn-primary) !important;
    color: var(--color-btn-primary) !important;
}

.btn-outline-primary {
    background-color: transparent !important;
    border-color: var(--color-border-btn-outline-primary) !important;
    color: var(--color-btn-outline-primary) !important;
}

.btn-danger {
    background-color: var(--color-bg-btn-danger) !important;
    border-color: var(--color-bg-btn-danger) !important;
}

.btn-success {
    background-color: var(--color-bg-btn-success) !important;
    border-color: var(--color-bg-btn-success) !important;
}

.btn-secondary {
    background-color: var(--color-bg-btn-secondary) !important;
    border-color: var(--color-bg-btn-secondary) !important;
}

.btn-history {
    background-color: var(--color-bg-sidebar-content) !important;
    border-color: var(--color-bg-sidebar-content) !important;
}

.fas.fa-trash.fa-list-doc {
    color: var(--color-fa-list-doc) !important;
}

.breadcrumb > li > a {
    color: var(--color-body-content) !important;
    text-decoration: underline !important;
}

.page-item.active .page-link {
    z-index: 0 !important;
}

@media (min-width: 768px) {
    main > .container-fluid {
        padding: 22px 15px;
    }
}

main > .container {
    padding: 60px 15px 0;
}

.h5-custom-modal {
    color: var(--color-h5-custom-modal) !important;
}

.modal-content {
    background-color: var(--color-bg-body-content) !important;
}

.modal-content > .modal-header {
    border-bottom: var(--color-border-header-modal) !important;
}

.modal-content > .modal-body > div > .list-group > .list-group-item {
    background-color: var(--color-bg-form-control) !important;
    color: var(--color-body-content) !important;
}

.background-white {
    background-color: var(--color-bg-sidebar-content) !important;
}

.span-muted {
    color: var(--color-span-muted) !important;
}

.btn-custom-cancel {
    background-color: var(--color-bg-btn-cancel) !important;
    color: var(--color-btn-cancel) !important;
    height: 38px !important;
}

.btn-close {
    filter: var(--filter-btn-close) !important;
}

.bg-primary {
    background-color: var(--color-bg-btn-primary) !important;
    color: var(--color-btn-primary) !important;
}

.bg-custom-primary {
    background-color: var(--color-bg-btn-primary) !important;
    opacity: 0.6 !important;
    padding: 8px 12px !important;
}

.bg-custom-success {
    background-color: var(--color-bg-btn-success) !important;
    opacity: 0.6 !important;
    padding: 8px 12px !important;
}

.badge.rounded-pill.bg-danger.badge-custom {
    background-color: var(--color-bg-btn-danger) !important;
}

.toast {
    background-color: var(--color-bg-toast) !important;
}

.toast-header {
    background-color: var(--color-bg-toast-content) !important;
    color: var(--color-toast-content) !important;
    border-bottom: var(--color-border-toast) !important;
}

.toast-body {
    background-color: var(--color-bg-toast-content) !important;
    color: var(--color-body-content) !important;
}

.toast-body.toast-primary {
    background-color: var(--color-bg-toast-content-primary) !important;
    color: var(--color-toast-content-primary) !important;
}

.toast-body.toast-success {
    background-color: var(--color-bg-toast-content-success) !important;
    color: var(--color-toast-content-success) !important;
    height: 3.2em;
}

.toast-body.toast-warning {
    background-color: var(--color-bg-toast-content-warning) !important;
    color: var(--color-toast-content-warning) !important;
}

.toast-body.toast-danger {
    background-color: var(--color-bg-toast-content-danger) !important;
    color: var(--color-toast-content-danger) !important;
}

.toast-body.toast-upload {
    background-color: var(--color-bg-toast-content-upload) !important;
    color: var(--color-body-content) !important;
}

.div-card > .card {
    background: var(--color-card-content) !important;
}

.div-card > .card > .card-body > .card-title {
    color: var(--color-card-title) !important;
}

.navbar-light {
    background-color: var(--color-bg-dropdown-menu) !important;
}

.text-black {
    color: var(--color-dropdown-menu) !important;
}

.btn-lang {
    background-color: var(--color-bg-dropdown-menu) !important;
    border-color: var(--color-bg-dropdown-menu) !important;
}

.icon-black {
    color: var(--color-dropdown-menu) !important;
}

.link-dark {
    color: var(--color-dropdown-menu) !important;
}

.btn-toggle {
    color: var(--color-dropdown-menu) !important;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--color-fade-buttons) !important;
}

.btn-toggle-nav > li > .active {
    background-color: var(--color-fade-buttons) !important;
}

.btn-toggle::before {
    -webkit-filter: var(--content-chevron) !important;
    filter: var(--content-chevron) !important;
}

.input-group-text {
    background-color: var(--color-bg-form-control) !important;
    border-color: var(--color-border-form-control) !important;
    color: var(--color-upload-icon) !important;
}

.page-item:not(:first-child) .page-link {
    margin-left: 4px !important;
}

.table-bordered-vertical tr {
    border-right: 2px solid var(--color-bg-table-outline) !important;
    border-left: 2px solid var(--color-bg-table-outline) !important;
}

tr:last-child {
    border-bottom: 2px solid var(--color-bg-table-outline) !important;
}

.custom-padding {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

@media (min-width: 1025px) {
    .custom-padding {
        padding-left: 70px;
        padding-right: 70px;
    }
}

.d-inline-custom {
    display: inline !important;
}

@media (max-width: 767px) {
    .d-inline-custom {
        display: none !important;
    }
}

.button-nav {
    background-color: var(--color-bg-nav-button) !important;
    color: var(--color-icon-nav-button) !important;
}

.dropdown-menu-button {
    background-color: var(--color-bg-dropdown-menu) !important;
    min-width: 5rem !important;
}

.dropdown-menu-button > .remove-hover > .dropdown-item {
    background-color: var(--color-bg-dropdown-menu) !important;
    color: var(--color-dropdown-menu) !important;
}

.theme-icon {
}

.theme-icon:before {
    font-family: "Font Awesome 5 Free";
    content: var(--icon-theme);
    font-style: initial;
    font-weight: 900;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.custom-class-dropzone {
    display: none !important;
}

.custom-dropzone .dropzone__progress {
    display: none !important;
}

.custom-dropzone .dropzone__item-thumbnail {
    border: solid 1px #0073e6 !important;
}

.delete-custom {
    background: var(--color-bg-table-outline) !important;
    border-color: var(--color-bg-table-outline) !important;
    color: var(--color-body-content) !important;
    height: 30px !important;
}

.dropzone {
    border: 1px dashed !important;
    border-color: var(--color-border-form-control) !important;
    background-color: var(--color-bg-form-control) !important;
}
.dropzone .dz-message .dz-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 0 !important;
}

.dz-message::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    background-image: url(../../assets/img/upload-dropzone.svg);
    width: 32px;
    height: 32px;
    color: var(--color-border-form-control) !important;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 20px;
    border: solid 1px;
    border-color: var(--color-border-form-control) !important;
    background: var(--color-bg-nav-button) !important;
    z-index: 0;
}

.dropzone .dz-preview .dz-progress {
    display: none !important;
}

.dz-remove::after {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    color: var(--color-body-content) !important;
}

.dz-remove:hover::after {
    color: #d9534f;
}

.dz-remove {
    font-size: 0 !important;
    text-decoration: none !important;
    top: -0.825rem !important;
    right: -0.825rem !important;
    text-align: unset !important;
    position: absolute !important;
    color: var(--color-body-content) !important;
}

.dropzone .dz-preview .dz-details .dz-size span {
    background: var(--color-bg-nav-button) !important;
    color: var(--color-body-content) !important;
    z-index: 0;
}

.dropzone .dz-preview .dz-details .dz-filename span {
    background: var(--color-bg-nav-button) !important;
    color: var(--color-body-content) !important;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    color: var(--color-body-content) !important;
}

dropzone .dz-preview .dz-details {
    z-index: 0;
}

.margin-label {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: var(--color-body-content) !important;
}

.showContent {
    margin-left: 2%;
}

.table-btn {
    border: none !important;
    background-color: transparent;
    color: inherit;
    transition:
        transform 0.2s ease,
        filter 0.2s ease;
}

.table-btn.btn-outline-primary:hover {
    background-color: #a6b7cf !important;
    color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.table-btn.btn-outline-success:hover {
    background-color: #b1d3c3 !important;
    color: #198754 !important;
    border-color: #198754 !important;
}

.table-btn.btn-outline-danger:hover {
    background-color: #d3aaae !important;
    color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.table-btn:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.content-left-middle {
    text-align: left;
    vertical-align: middle;
}

.content-center-middle {
    text-align: center;
    vertical-align: middle;
}

.content-right-middle {
    text-align: right;
    vertical-align: middle;
}

.icon-order {
    vertical-align: text-top;
    margin-top: 2px;
    cursor: pointer;
    width: 12px;
}

.text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    font-weight: normal;
}

.validation-message {
    color: #dc3545;
    font-size: 0.70rem;
    font-weight: 500;
    margin-top: 0.25rem;
    display: block;
}

.fw-semibold {
    font-weight: 500 !important;
}

.mfs {
    font-size: 0.775rem;
}

.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}